.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-main-container {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    max-width: 1276px;
    max-height: 722px;
    justify-content: flex-start;
}

.login-inner-left {
    width: 100%;
    max-width: 667px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.login-banner {
    display: block;
    width: 609px;
    height: 722px;
    object-fit: cover;
    object-position: center;

}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
}



img,
figure {
    margin: 0;
    padding: 0;
}