nav {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    max-width: 1099px;
    max-height: 30px;
    border-radius: 10px;
    border: #373737 .5px solid;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

.nav-login-button {
    background-color: var(--secondary-color);
    width: 88px !important;
    color: white;
    padding: 10px 30px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-login-button:hover {
    background-color: var(--secondary-color-darker);
    border: 1px solid var(--secondary-color-darker);
}